div#loading {
    width: 300px;
    height: 300px;
    display: none;
    background: url(Loading.gif) no-repeat;
    }
div#checkbox{
    display: none;
}
div#confirmreset{
    display: none;
}
[type = checkbox]:first-child{
    display: none;
}
table {
    size: "100%";
}