div#loading {
    width: 300px;
    height: 300px;
    display: none;
    background: url(Loading.gif) no-repeat;
    }
#checkbox{
    display: none;
}
[type = checkbox]{
    display: none;
}
table {
    size: "100%";
}