<!DOCTYPE html>
<head></head>
<body>
    
    <h3>Scraped Feeds</h3>
    <table style="width:100%">
        <thead>
            <tr>
                <th>Check</th>
                <th>Site</th>
                <th>Type</th>
                <th>Scraped At</th>
                <th>Title</th>
                <th>Author</th>
                <th>Link</th>
            </tr>
        </thead>
        <tbody>
                {% for i in sitefeed %}
                <tr>
                    <td><input type="checkbox" name = "feedcheck"></td>
                    <td>{{ i[1] }}</td>
                    <td>{{ i[2] }}</td>
                    <td>{{ i[3] }}</td>
                    <td>{{ i[5] }}</td>
                    <td>{{ i[6] }}</td>
                    <td><a href = {{ i[7] }}>Link</a></td>
                </tr>
                {% endfor %}
        </tbody>
    </table>

    Error : {{msg}}
    <br>
    <button><a href={{ url_for("insert.insert") }}>addsite</a></button>
    <button><a href={{ url_for("insert.insert_feed") }}>addfeed</a></button><br>
</body>