<!DOCTYPE html>
<head></head>
<body>
    <h3>SiteFeed Table for Test Purpose</h3>
    <form method="POST">
        <label for="=sitename">sitename</label>
        <input type="text" id="sitename" name="sitename"><br>
    
        <label for="=sitetype">sitetype</label>
        <input type="text" id="sitetype" name="sitetype"><br>

        <label for="=postdate">postdate</label>
        <input type="datetime-local" id="postdate" name="postdate"><br>

        <label for="=postnum">postnum</label>
        <input type="text" id="postnum" name="postnum"><br>

        <label for="=title">title</label>
        <input type="text" id="title" name="title"><br>

        <label for="=author">author</label>
        <input type="text" id="author" name="author"><br>

        <label for="=link">link</label>
        <input type="text" id="link" name="link"><br>

        <input type="submit" name="add" value="add">
        <input type="submit" name="delete" value="delete"><br>

        Error : {{msg}}<br>
        <button><a href={{ url_for("index") }}>mainpage</a></button><br>
    </form>
</body>