<!DOCTYPE html>
<head>

    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='loading.css') }}">
    <script src="{{ url_for('static', filename='template.js') }}"></script>

</head>
<body>
    <h3 id = "title">Add site data in this page.</h3>
    <h3><div id = "checkbox">Select an element you want to delete/modify.<br> To modify data, write some data in the form and click "alter". </div></h3>

    <form method="POST">
        <div id = "data_form">
            <label for="=sitename">sitename</label>
            <input type="text" id="sitename" name="sitename"><br>
        
            <label for="=main_address">main_address</label>
            <input type="text" id="main_address" name="main_address" ><br>
        
            <label for="=scrape_address">scrape_address</label>
            <input type="text" id="scrape_address" name="scrape_address"><br>
        
            <label for="=sitetype">sitetype</label>
            <input type="text" id="sitetype" name="sitetype"><br>
    
            <label for="=link_query">link_query</label>
            <input type="text" id="link_query" name="link_query"><br>
    
            <label for="=postnum_query">postnum_query</label>
            <input type="text" id="postnum_query" name="postnum_query"><br>
    
            <label for="=title_query">title_query</label>
            <input type="text" id="title_query" name="title_query"><br>
    
            <label for="=author_query">author_query</label>
            <input type="text" id="author_query" name="author_query"><br>
    
            <label for="=js_included">javascript</label>
            <input type="checkbox" name="js_included"><br>
        </div>
        <div id = "checkbox">
            <input type="submit" name="delete" value="delete">
            <input type="submit" name="alter" value="alter">    
        </div>
        <div id = "form_submit">
            <input type="submit" name="add" value="add">
            <label onclick = "confirmreset();">reset</label>
        </div>

        <label id = "select" onclick = "selectbox();">select</label>

        <div id = "confirmreset">
            <input type="submit" name="reset" value="yes">
            <button>no</button> 
        </div><br><br>

        Error : {{msg}}
        <br>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <br>
        <button><a href={{ url_for("index") }}>mainpage</a></button>
        <br>

        <h3>Current List of Scraped Sites</h3>
        <table style="width:100%">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Main Address</th>
                    <th>Address for Scraping</th>
                    <th>Type</th>
                    <th>Query for Link</th>
                    <th>Query for Post No.</th>
                    <th>Query for Title</th>
                    <th>Query for Author</th>
                    <th>Javascript</th>
                </tr>
            </thead>
            <tbody>
                    {% for i in sitedata %}
                    <tr>
                        <td><input type="checkbox" name = {{ i[0] }}></td>
                        <td>{{ i[0] }}</td>
                        <td>{{ i[1] }}</td>
                        <td><a href = {{ i[2] }}>Link</a></td>
                        <td>{{ i[3] }}</td>
                        <td>{{ i[4] }}</td>
                        <td>{{ i[5] }}</td>
                        <td>{{ i[6] }}</td>
                        <td>{{ i[7] }}</td>
                        <td>{{ i[8] }}</td>
                    </tr>
                    {% endfor %}
            </tbody>
        </table>
    </form>
</body>